body {
    margin: 0;
    /*0可以不加單位*/
    background-image: url(./images/bg.jpg);
    font-size: 16px;
    /* 通常body不會給font size */
}

img {
    display: block;
    /* 把img改成"區塊" 這樣就可避免img自有的空白產生 */
}

.box {
    width: 1000px;
    /* 這裡我設定他1000px大小 */
    /* 快速寫: w1000 */
    /* 兩個數字時，前面代表上下，後面代表左右 */
    margin: 0 auto;
    /* 間距自動偵測(auto)必須搭配寬度(width) */
}

.btn {
    /* btn原本是和box一樣大，現在改為200px */
    /* width: 200px; */
    /*但目前還是不能並排 =>現在是display: block; */
    float: left;
    /* 用float浮動區塊，去覆蓋原本的block，圖片本身有寬高會自動抓尺寸 */
}

.col {
    font-size: 14px;
    float: left;
    width: 446px;
    /*文字會自動延展，因此一定要幫他加上寬度[500-(2+10+15)*2]  */
    border: dotted 2px #c4934f;
    margin: 10px;
    padding: 15px;
}

/* <span>主要用來修改樣式，不會優先被搜尋到 */
.col span {
    /* 定義，col裡面的span，中間用space隔開 */
    color: red;
}

h1 {
    font-size: 1.6rem;
    /* re,是抓根元素 */
}

hr {
    border: #c4934f 1px solid;
}

h2 {
    font-size: 150%;
    /* 等於1.5em */
}

p {
    font-size: 1em;
    /* <p>預設1em */
}

.footer {
    clear: both;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    border-top: dotted 2px #c4934f;
    padding-top: 15px;
}
address{
    font-style: normal;
}

iframe{     /* 介於inline和block之間的感覺(不能直接margin,要先轉block，但又可以設定寬高) */
    display: block;
    margin: 0 auto;
}