@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");
/* UTF-8設定必定要在第一行(line 1) */
/* 重置所有標籤的樣式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* RWD不累加內距padding與邊框border */
}

/* 重置字體 */
body {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* 重置連接 */
a {
  /* 已知此網頁的a都"不是文字超連結"，因此先把a設定為區塊 */
  text-decoration: none;
  color: #444;
}

main, main section {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Catamaran", sans-serif;
  color: #f1f1f1;
}

.basic-btn {
  display: inline-block;
  background-color: #f1f1f1;
  color: #1a1a1a;
  font-size: 2rem;
  font-weight: 600;
  padding: 10px 25px;
  border-radius: 99px;
  border: 5px solid transparent;
  transition: 0.4s ease-in-out;
}
.basic-btn:hover {
  background-color: #070707;
  color: #f1f1f1;
  border: 5px solid #f1f1f1;
}

header {
  position: fixed;
}

main {
  flex-direction: column;
}
main section {
  width: 100%;
  height: 100vh;
}
main #banner {
  background-image: url(../images/bg-pattern-logos.png), linear-gradient(165deg, #e70112 15%, #b20722 75%);
  overflow: hidden;
}
main #banner > div {
  flex: 1;
}
main #banner .content {
  padding: 50px;
}
main #banner .content h2 {
  font-size: 11rem;
  font-weight: 900;
  line-height: 7rem;
}
main #banner .content h2 span {
  font-size: 2rem;
  font-weight: 800;
}
main #banner .content p {
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin: 25px 0;
}
main #banner .photo {
  position: relative;
  height: 100%;
}
main #banner .photo figure {
  position: absolute;
}
main #banner .photo .mario1 {
  width: 55%;
  left: -5%;
  animation: mario1 12s ease-in-out both infinite;
}
@keyframes mario1 {
  0% {
    top: 100vh;
  }
  10% {
    top: 10vh;
  }
  20% {
    top: 10vh;
  }
  30% {
    top: 100vh;
  }
  100% {
    top: 100vh;
  }
}
main #banner .photo .luigi {
  width: 45%;
  left: 50%;
  animation: luigi 12s 0.3s ease-in-out both infinite;
}
@keyframes luigi {
  0% {
    top: 100vh;
  }
  10% {
    top: 20vh;
  }
  20% {
    top: 20vh;
  }
  30% {
    top: 100vh;
  }
  100% {
    top: 100vh;
  }
}
main #banner .photo .brick {
  width: 80%;
  top: 5vh;
  animation: brick 12s 0.4s ease-in-out both infinite;
}
@keyframes brick {
  0% {
    right: -100%;
  }
  10% {
    right: -5%;
  }
  20% {
    right: -5%;
  }
  30% {
    right: -100%;
  }
  100% {
    right: -100%;
  }
}
main #banner .photo .mario2 {
  width: 55%;
  left: -5%;
  animation: mario2 12s 4s ease-in-out both infinite;
}
@keyframes mario2 {
  0% {
    top: 100vh;
  }
  10% {
    top: 20vh;
  }
  20% {
    top: 20vh;
  }
  30% {
    top: 100vh;
  }
  100% {
    top: 100vh;
  }
}
main #banner .photo .peach {
  width: 45%;
  left: 35%;
  animation: peach 12s 4.4s ease-in-out both infinite;
}
@keyframes peach {
  0% {
    top: 100vh;
  }
  10% {
    top: 20vh;
  }
  20% {
    top: 20vh;
  }
  30% {
    top: 100vh;
  }
  100% {
    top: 100vh;
  }
}
main #banner .photo .pipe {
  width: 35%;
  right: 3%;
  animation: pipe 12s 4.5s ease-in-out both infinite;
}
@keyframes pipe {
  0% {
    top: 100vh;
  }
  10% {
    top: 5vh;
  }
  20% {
    top: 5vh;
  }
  30% {
    top: 100vh;
  }
  100% {
    top: 100vh;
  }
}
main #banner .photo .mario3 {
  width: 80%;
  left: -15%;
  animation: mario3 12s 8s ease-in-out both infinite;
}
@keyframes mario3 {
  0% {
    top: 100vh;
  }
  10% {
    top: 15vh;
  }
  20% {
    top: 15vh;
  }
  30% {
    top: 100vh;
  }
  100% {
    top: 100vh;
  }
}
main #banner .photo .toad {
  width: 45%;
  left: 44%;
  animation: toad 12s 8.3s ease-in-out both infinite;
}
@keyframes toad {
  0% {
    top: 100vh;
  }
  10% {
    top: 23vh;
  }
  20% {
    top: 23vh;
  }
  30% {
    top: 100vh;
  }
  100% {
    top: 100vh;
  }
}
main #banner .photo .star {
  width: 30%;
  right: 2%;
  animation: star 12s 8.4s ease-in-out both infinite;
}
@keyframes star {
  0% {
    top: 100vh;
  }
  10% {
    top: 5vh;
  }
  20% {
    top: 5vh;
  }
  30% {
    top: 100vh;
  }
  100% {
    top: 100vh;
  }
}/*# sourceMappingURL=style.css.map */