@charset "UTF-8";
/*UTF-8設定必定要在第一行(line 1)*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

/* google fonts必定放在line 2 */
@font-face {
    font-family: "Greenwashing\ Machine\ Bold";
    src: url(../webfonts/Greenwashing\ Machine\ Bold.otf);
}

/* 重置所有標籤的樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* RWD不累加內距padding與邊框border */
}

/* 重置字體 */
body {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    /* 已知此網頁的a都"不是文字超連結"，因此先把a設定為區塊 */
    display: block;
    text-decoration: none;
    color: #444;
}

/* id用[#]，class用[.]，標籤不用另外加，中間都用空白隔開 */

/* 按鈕區 */
.btn-s {
    background-color: rgb(255, 255, 255);
    width: auto !important;
    /* important權重第一優先，正常都不會用 */
    height: 35px;
    line-height: 2.2;
    padding: 0 20px;
    border-radius: 17.5px;
}

.btn-s:hover {
    color: white;
    background-color: black;
    transition: .5s ease-in-out;
}


/* 頁首區 */
#topbar {
    z-index: 999;       /* 圖層至高概念 */
    /* position權重>display */
    position: fixed;
    /* 固定地位不會隨卷軸移動，且預設抓內容尺寸 */
    width: 100%;
    /* 手動設定寬度 */
    /* 控制子層 */
    display: flex;
    /* display: flex;的預設主軸為水平 */
    justify-content: space-between;
    /* 主軸均分貼齊頭尾 */
    align-items: center;
    /* 水平方向要置中center */
    padding: 30px;

}

.logo {
    width: 65px;
    /* 可以寫死，logo以寬度為準 */
}

.navigation {
    display: flex;
    flex-direction: column;
    /* 主軸換方向為垂直 */
    /* 現在要副軸(水平)靠end對齊 */
    align-items: flex-end;
}

.navigation .icon {
    display: flex;
}

.navigation .menu {
    display: flex;
    margin: 15px;
}

.navigation .icon a {
    /* 前面已經把a設定為區塊，所以現在可以給寬高設定 */
    width: 35px;
    height: 35px;
    margin-left: 10px;
    /* border: solid 1px; */
    /* 先弄個邊框暫時出來看看 */
    transition: .5s ease-in-out;
    /* transition => 轉場效果，可以設定屬性、持續時間、計時功能、延遲...功能 */
}

.icon-fb {
    /* 只有svg檔案會自動等比例縮放，其他圖檔是原始尺寸，要再另外改變尺寸 */
    /* 若之前沒有設定.navigation .icon a的寬高時，就要在此class上設定寬高，因為background本身無尺寸概念 */
    /* width: 35px;
    height: 35px; */
    background-image: url(../images/icon-fb.svg);
    /* 給個間距出來 */
}

.icon-fb:hover {
    /* :hover =>游標徘徊時的變化設定 */
    /* hover不能和前面的tag; class; id....中間空格，css會誤判這是下一層內容 */
    background-image: url(../images/icon-fb-hover.svg);
}

.icon-ig {
    background-image: url(../images/icon-ig.svg);
    /* 給個間距出來 */
}

.icon-ig:hover {
    background-image: url(../images/icon-ig-hover.svg);
}

.icon-line {
    background-image: url(../images/icon-line.svg);
    /* 給個間距出來 */
}

.icon-line:hover {
    background-image: url(../images/icon-line-hover.svg);
}

.navigation .menu a {
    color: #444;
    margin: 0 10px;
    border-bottom: solid 2px transparent;
}

.navigation .menu a:hover {
    border-bottom: solid 2px #444;
    transition: all .25s ease-in;
    /* 若只有打上述，轉場效果會卡卡的(2px線條正在推空間出來) */
    /* 因此在.menu a時先設定好2px的線條空間出來(給透明值) */
}

.navigation .menu li {
    border-right: solid 1px #444;
    /* 新增右邊線 */
    line-height: 1;
}

.navigation .menu li:last-child {
    border-right: none;
}

/* 每頁公用區 */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    /* border: solid 1px red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.title h2 {
    /* font-family的設定在line 3~6 */
    font-family: "Greenwashing\ Machine\ Bold", sans-serif;
    /* 要在手加一個備用預設字體(sans=serif) */
    font-size: 2.5rem;
    letter-spacing: 1rem;
    border-bottom: solid 2px;
    padding-left: 10px;
}

.title h3 {
    /* 使用google font字體(拆字下載，容量小)設定必定要放在line 2 */
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    /* 光學尺寸修正(新設定) */
    font-weight: 400;
    font-style: normal;
    /* 斜體設定 */
    font-size: 1.5rem;
    line-height: 3rem;
}

.box_list {
    display: flex;
    width: 80%;
}

.box_list .item {
    flex: 1;
    margin: 0px 15px;
}

.box_list h1 {
    font-size: 1.3rem;
    font-weight: 600;
}

.box_list p {
    font-size: .9rem;
    /*text-align: justify;*/    /* 齊行比較適合用在中文上 */
}

/* NEWS區 */


/* CONTACT區 */
#contact {
    /* 設定背景 */
    background-image: url(../images/bg_contact.jpg);
    background-repeat: no-repeat;
    /* 此次狀況下，這個設定上可有可無 */
    background-size: cover;
    /* 版面設定 */
    background-position: center center;
    /* 第一個值x軸，第二個值y軸。設定背景置中 */
    background-attachment: fixed;
    /* 釘住背景，滾輪滾動但背景不會動 */

    /* 設定給裝飾花用的 */
    position: relative;
    overflow: clip;

}

#form-contact {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* 這邊可以由section爸爸控制就好，爸爸還順便控制好width */
    width: 35%;
}

#form-contact label {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 18px;
    line-height: 2;
}

#form-contact input,
#form-contact textarea {
    padding: 10px;
    color: rgb(142, 7, 79);
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 600;
    /* border: 2px white; */
    /* border-radius: 8px; */
}

/* 改替代文字 */
#form-contact input::placeholder,
#form-contact textarea::placeholder {
    color: rgb(163, 154, 127);
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 400;
}

#form-contact small {
    color: rgb(86, 78, 52);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
}

#btn-contact-submit {
    /* 玻璃擬態效果 */
    background-image: linear-gradient(150dgb);
}

#btn-contact-submit {
    /* position: relative; */
    /* 子層若沒有absolute，父層就不用relative */
    /* outline: none; */
    /* text-decoration: none; */
    /* 文字底線 */

    border-radius: 99px;
    /* 定義起始位置 */
    display: flex;
    justify-items: center;
    align-items: center;
    /* 游標模式 */
    cursor: pointer;
    /* text-transform: uppercase */
    /* 設定字母大寫 */
    height: 60px;
    width: 210px;
    /* opacity: 1; */
    /* 透明度 */
    /* 取消button預設值 */
    border: 1px solid rgb(86, 78, 52);
}

#btn-contact-submit span {
    font-size: 18px;
    font-weight: 500;
    color: rgb(142, 7, 79);
    letter-spacing: 1rem;
}


#btn-contact-submit:hover {
    animation: rotate 0.7s ease-in-out both;
}

#btn-contact-submit:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

/* 裝飾花 */
.flower_r {
    position: absolute;
    left: -52px;
    bottom: 32px;
    width: 300px;
    transform: rotate(30deg);
}

.flower_w {
    position: absolute;
    right: -70px;
    top: 135px;
    width: 300px;
    transform: rotate(-25deg);
}