@charset "UTF-8";    /* UTF-8設定必定要在第一行(line 1) */
@font-face {   /* google fonts必定放在line 2 */
    font-family: "Greenwashing\ Machine\ Bold";
    src: url(../webfonts/Greenwashing\ Machine\ Bold.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');



/* 重置所有標籤的樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* RWD不累加內距padding與邊框border */
}

/* 重置字體 */
body {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    /* 已知此網頁的a都"不是文字超連結"，因此先把a設定為區塊 */
    display: block;
    text-decoration: none;
    color: #444;
}

/* id用[#]，class用[.]，標籤不用另外加，中間都用空白隔開 */

/* 按鈕區 */
.btn-s {
    background-color: var(--light);
    width: auto !important;
    /* important權重第一優先，正常都不會用 */
    height: 35px;
    line-height: 2.2;
    padding: 0 20px;
    border-radius: 17.5px;
}

.btn-s:hover {
    color: var(--light);
    background-color: black;
    transition: .5s ease-in-out;
}


/* 頁首區 */
#topbar {
    z-index: 999;
    /* 圖層至高概念 */
    /* position權重>display */
    position: fixed;
    /* 固定地位不會隨卷軸移動，且預設抓內容尺寸 */
    width: 100%;
    /* 手動設定寬度 */
    /* 控制子層 */
    display: flex;
    /* display: flex;的預設主軸為水平 */
    justify-content: space-between;
    /* 主軸均分貼齊頭尾 */
    align-items: center;
    /* 水平方向要置中center */
    padding: 30px;

}

.logo {
    width: 65px;
    /* 可以寫死，logo以寬度為準 */
}

.navigation {
    display: flex;
    flex-direction: column;
    /* 主軸換方向為垂直 */
    /* 現在要副軸(水平)靠end對齊 */
    align-items: flex-end;
}

.navigation .icon {
    display: flex;
}

.navigation .menu {
    display: flex;
    margin: 15px;
}

.navigation .icon a {
    /* 前面已經把a設定為區塊，所以現在可以給寬高設定 */
    width: 35px;
    height: 35px;
    margin-left: 10px;
    /* border: solid 1px; */
    /* 先弄個邊框暫時出來看看 */
    transition: .5s ease-in-out;
    /* transition => 轉場效果，可以設定屬性、持續時間、計時功能、延遲...功能 */
}

.icon-fb {
    /* 只有svg檔案會自動等比例縮放，其他圖檔是原始尺寸，要再另外改變尺寸 */
    /* 若之前沒有設定.navigation .icon a的寬高時，就要在此class上設定寬高，因為background本身無尺寸概念 */
    /* width: 35px;
    height: 35px; */
    background-image: url(../images/icon-fb.svg);
    /* 給個間距出來 */
}

.icon-fb:hover {
    /* :hover =>游標徘徊時的變化設定 */
    /* hover不能和前面的tag; class; id....中間空格，css會誤判這是下一層內容 */
    background-image: url(../images/icon-fb-hover.svg);
}

.icon-ig {
    background-image: url(../images/icon-ig.svg);
    /* 給個間距出來 */
}

.icon-ig:hover {
    background-image: url(../images/icon-ig-hover.svg);
}

.icon-line {
    background-image: url(../images/icon-line.svg);
    /* 給個間距出來 */
}

.icon-line:hover {
    background-image: url(../images/icon-line-hover.svg);
}

.navigation .menu a {
    color: var(--deep);
    margin: 0 10px;
    border-bottom: solid 2px transparent;
}

.navigation .menu a:hover {
    border-bottom: solid 2px var(--deep);
    transition: all .25s ease-in;
    /* 若只有打上述，轉場效果會卡卡的(2px線條正在推空間出來) */
    /* 因此在.menu a時先設定好2px的線條空間出來(給透明值) */
}

.navigation .menu li {
    border-right: solid 1px var(--deep);
    /* 新增右邊線 */
    line-height: 1;
}

.navigation .menu li:last-child {
    border-right: none;
}

/* 每頁公用區 */
/* 變數 */
/* 宣告變數 :root{} */
:root{
    /* 定義變數名稱 --名稱: ; */

    /* 灰階 */
    --deep: #444;
    --grey: #999;
    --light: #f1f1f1;

    /* 背景 */
    --primry: #f2edf0;
    --secondary: #e6ece5;
    --tertiary: #ecf0f4;

    /* 輔助 */
    --lesser-1: #f3e4e4;
    --lesser-2: #efdbdb;
    --leeser-3: #cdaaab;
    --lesser-4: #8f6b6d;
    --lesser-5: #b06468;

    /* 透明 */
    --alpha-w-30: rgba(255,255,255, .3);
    --alpha-w-60: rgba(255,255,255, .6);
    --alpha-b-30: rgba(0, 0, 0, .3);
    --alpha-g-50: rgba(68, 68, 68, 0.5);
    --alpha-g-70: rgba(68, 68, 68, 0.7);
    --alpha-r-60: rgba(220, 185 ,185, .6);

    /* 漸層 */
    --gradient-w-a: rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.5);
    
    /* 陰影 */
    --box-shadow-g: 2px 2px 3px rgba(0,0,0, .3),
        inset -1px -1px rgba(255, 255, 255, .8)
    /* 呼叫變數方式 var() */
}



/* 玻璃擬態 */
#form-contact input,
#form-contact textarea {
    border-radius: 10px;
    border: solid 1px var(--deep);
    background-color: transparent;
    /* 取消input...的預設背景色 */
    background-image: linear-gradient(-30deg, var(--gradient-w-a));
    box-shadow: var(--box-shadow-g);
    /* filter: drop-shadow(2px 2px 4px var(--alpha-b-30); */
    /* 練習濾鏡的陰影 */
    backdrop-filter: blur(1px);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h2 {
    /* font-family的設定在line 3~6 */
    font-family: "Greenwashing\ Machine\ Bold", sans-serif;
    /* 要在手加一個備用預設字體(sans=serif) */
    font-family: "Greenwashing\ Machine\ Bold", sans-serif;
    /* 要在手加一個備用預設字體(sans=serif) */
    font-size: 2.5rem;
    letter-spacing: 1rem;
    border-bottom: solid 2px;
    padding-left: 10px;
}

.title h3 {
    /* 使用google font字體(拆字下載，容量小)設定必定要放在line 2 */
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    /* 光學尺寸修正(新設定) */
    font-optical-sizing: auto;
    /* 光學尺寸修正(新設定) */
    font-weight: 400;
    font-style: normal;
    /* 斜體設定 */
    font-style: normal;
    /* 斜體設定 */
    font-size: 1.5rem;
    line-height: 3rem;
}

.box_list {
    display: flex;
    width: 80%;
    max-width: 1400px;
    /* 通常搭配相對單位，設定絕對單位 */
}

.box_list .item {
    flex: 1;
    margin: 0px 15px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 3px 3px 10px var(--alpha-b-30);
}

.box_list figure {
    /* width因為display-block關係會自動延展，所以不用特別寫 */
    height: 40vh;
}

.box_list img {
    object-fit: cover;
    /* width: 100% 上面重置圖片時已經設定了 */
    height: 100%;
    /* 當初重置圖片是設定auto現在要設定100% */
}

.box_list .content {
    padding: 10px 15px;
}

.box_list h1 {
    font-size: 1.3rem;
    font-weight: 600;
}

.box_list p {
    font-size: .9rem;
    /*text-align: justify;*/
    /* 齊行比較適合用在中文上 */
}

/* NEWS區 */
#news {
    background-color: var(--primry);
}

#news .content {
    background-color: var(--alpha-w-60);
}

#news .content:hover {
    background-color: var(--light);
    transition: all .3s ease-in-out;
}

#news p {
    /* 多行省略 */
    /* 之後直接複製下面5行語法 */
    overflow: hidden;
    text-overflow: ellipsis;
    /* 若有設定line-clamp時，瀏覽器會自動加入，文字溢出時會自動出現省略號 */
    display: -webkit-box;
    /* 彈性布局 */
    -webkit-box-orient: vertical;
    /* 定義box垂直布局 */
    -webkit-line-clamp: 5;
    /* 限制行數 */
}

/* SERVICE區 */
#service {
    background-color: var(--secondary);
}

#service p {
    /* 單行省略 */
    /* 之後直接複製下面5行語法 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap ;
}

#service .item {
    height: 65vh;
    background-position: center;
    background-size: cover;
    display: flex;
    /* 若flex方向改為垂直，則a的寬度就不用再補設定寬度100% */
    align-items: flex-end;
}

#service a {
    width: 100%;    /* 因item後來設定flex，被影響寬度，因此補寫寬度 */
    color:var(--light);
    background-color: var(--alpha-g-50);
}

#service a:hover {
    background-color: var(--alpha-g-70);
    transition: all .3s ease-out;
}

.svc-1 {
    background-image: url(../images/pt_svc1.jpg);
}

.svc-2 {
    background-image: url(../images/pt_svc2.jpg);
}

.svc-3 {
    background-image: url(../images/pt_svc3.jpg);
}

.svc-4 {
    background-image: url(../images/pt_svc4.jpg);
}

/* VIDEO區 */
#video {
    background-color: var(--tertiary);
}

.video {
    width: 65%;
    max-width: 1050px;


}

video {
    width: 100%;
    
}

/* ABOUT區 */
#about .about-content {
    width: 50%;
    height: 100%;   /* 抓section的設定 */
    background-color: var(--alpha-r-60);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about p {
    width: 85%;
    height: 65vh;
    overflow: auto;
    padding-top: 30px;
}








/* CONTACT區 */
#contact {
    /* 設定背景 */
    background-image: url(../images/bg_contact.jpg);
    background-repeat: no-repeat;
    /* 此次狀況下，這個設定上可有可無 */
    background-size: cover;
    /* 版面設定 */
    background-position: center center;
    /* 第一個值x軸，第二個值y軸。設定背景置中 */
    background-attachment: fixed;
    /* 釘住背景，滾輪滾動但背景不會動 */

    /* 設定給裝飾花用的 */
    position: relative;
    overflow: clip;

}

#form-contact {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* 這邊可以由section爸爸控制就好，爸爸還順便控制好width */
    width: 35%;
}

#form-contact label {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 18px;
    line-height: 2;
    margin-top: 18px;
}

#form-contact input,
#form-contact textarea {
    font-family: "Noto Sans TC", sans-serif;
    padding: 10px;
    color: var(--lesser-5);
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 600;
}

/* 改替代文字 */
#form-contact input::placeholder,
#form-contact textarea::placeholder {
    color: var(--lesser-4);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 400;
}

#form-contact small {
    color: var(--deep);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
}

#btn-contact-submit {
    border-radius: 10px;
    border: solid 1px var(--deep);
    background-color: transparent;
    /* 取消input...的預設背景色 */
    background-image: linear-gradient(-30deg, var(--gradient-w-a));
    box-shadow: var(--box-shadow-g);
    /* filter: drop-shadow(2px 2px 4px var(--alpha-b-30); */
    /* 練習濾鏡的陰影 */
    backdrop-filter: blur(1px);
}

#btn-contact-submit {
    /* position: relative; */
    /* 子層若沒有absolute，父層就不用relative */
    /* outline: none; */
    /* text-decoration: none; */
    /* 文字底線 */

    border-radius: 99px;
    /* 定義起始位置 */
    display: flex;
    justify-items: center;
    align-items: center;
    /* 游標模式 */
    cursor: pointer;
    /* text-transform: uppercase */
    /* 設定字母大寫 */
    height: 60px;
    width: 210px;
    /* opacity: 1; */
    /* 透明度 */
    /* 取消button預設值 */
    border: 1px solid var(--lesser-4);
}

#btn-contact-submit span {
    font-size: 18px;
    font-weight: 500;
    color: var(--lesser-5);
    letter-spacing: 1rem;
}


#btn-contact-submit:hover {
    animation: rotate 0.7s ease-in-out both;
}

#btn-contact-submit:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

/* 裝飾花 */
.flower_r {
    position: absolute;
    left: -52px;
    bottom: 32px;
    width: 300px;
    transform: rotate(30deg);
}

.flower_w {
    position: absolute;
    right: -70px;
    top: 135px;
    width: 300px;
    transform: rotate(-25deg);
}